body {

}

.raw, .aggregate {
	float: left;
	border-collapse: collapse;
	margin-left: 5;
	margin-right: 5;
}

.raw  {
	width: 29%;
}

.aggregate {
	width: 15%;
}


table, th, td {
    border: 1px solid black;
}
